.hero {
    /* height: 100vh; */
    background: linear-gradient(180deg, #eaebef, #f4ebe7, #b0a8a6 60%);
    display: flex;
    padding: 10px;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2 {
    color: rgb(21, 19, 19);
    font-size: 26px;
    font-weight: 600;
}

.hero-left p {
    color: rgba(3, 3, 3, 0.94);
    font-size: 100px;
    font-weight: 700;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 100px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: rgb(29, 29, 48);
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    width: 500px;
    height: auto;
    margin-top: 40px;
}

/* Media Query for tablets (max-width: 768px) */
@media (max-width: 768px) {
    .hero {
        width: 100%;
        height: 100%;
        margin: 0; 
        padding:0;
        overflow-x: hidden;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-left {
        padding-left: 0;
        align-items: center;
    }

    .hero-left p {
        font-size: 60px;
    }

    .hero-left h2 {
        font-size: 22px;
    }

    .hero-hand-icon img {
        width: 70px;
    }

    .hero-latest-btn {
        width: 250px;
        height: 60px;
        font-size: 20px;
    }

    .hero-right img {
        width: 400px;
        margin-top: 20px;
    }
}

/* Media Query for mobile devices (max-width: 480px) */
@media (max-width: 480px) {
    .hero {
        width: 100%;
        height: 100%;
        margin: 0; 
        padding:0;
        overflow-x: hidden;
    }

    .hero-left p {
        font-size: 40px;
    }

    .hero-left h2 {
        font-size: 18px;
    }

    .hero-hand-icon img {
        width: 50px;
    }

    .hero-latest-btn {
        width: 200px;
        height: 50px;
        font-size: 18px;
    }

    .hero-right img {
        width: 300px;
        margin-top: 20px;
    }
}
