@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins; /* Apply the Poppins font globally */
    margin: 0;
    background-color: #f6f6f6;
    height: 100vh;
  }
}
